@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Underdog&display=swap');
@import "tailwindcss";

body{
    font-family: 'Outfit', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9; /* sky-50 */
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: #0ea5e9; /* sky-500 */
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #0369a1; /* sky-700 */
}

body {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #0ea5e9 #f1f5f9; /* thumb and track color */
}